<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Merca Libre</title>
</head>

<body>
    <header>
        <div class="primer-header">
            <div class="buscador">
                <img class="logo-merca" src="/images/logo-mercado-liebre.svg" alt="logo de la empresa">
                <input class="barra-de-buscaqueda" type="text" placeholder="Buscar productos, marcas">
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            <div class="opciones-compras">
                <i class="fas fa-store"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <nav>
            <ul type="None">
                <div class="navegador-1">
                    <li><a class="enlaces enclaces-medio-14" href="#">Ofertas</a></li>
                    <li><a class="enlaces enclaces-medio-2" href="#">Tiendas Oficiales</a></li>
                    <li><a class="enlaces enclaces-medio-2" href="#">Vender</a></li>
                    <li><a class="enlaces enclaces-medio-18" href="#">Ayuda</a></li>
                </div>
                <div class="navegador-2">
                    <li><a class="enlaces" href="register.html"><i class="far fa-user-circle"></i>Creá tu cuenta</a></li>
                    <!--EL ICONO SERIA UN LINK??¿?¿?¿?¿ -->
                    <li><a class="enlaces enclaces-medio" href="login.html"><i class="fas fa-sign-in-alt"></i>Ingresá</a></li>

                    <li><a class="enlaces" href="#"><i class="fas fa-shopping-cart"></i>Mis compras</a></li>

                </div>
            </ul>
        </nav>

        <div class="burger">
            <i class="fas fa-bars" style="color: #ffffff;"></i>
        </div>
        <img class="imagen-home" src="/images/img-home-banner.jpg"
            alt="publicidad">
    </header>
    <!-- ------------------------------------------------------------------------------------------------------------ -->
    <main>
        <h2 class="titulares">Basado en tu última visita</h2>
        <section>

            <article>
                <img class="imagen-art" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="productos__descripcion">
                    <div class="carrito--verde">
                        <i class="fas fa-truck borde__carrito--verde" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="productos__descripcion">
                    <div class="carrito--verde">
                        <i class="fas fa-truck borde__carrito--verde" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" src="/images/img-samsung-galaxy-s10.jpg"
                    alt="imagen del Samsung Galaxy">
                <div class="productos__descripcion">
                    <div class="carrito--verde">
                        <i class="fas fa-truck borde__carrito--verde" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="productos__descripcion">
                    <div class="carrito--verde">
                        <i class="fas fa-truck borde__carrito--verde" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>
        <h2 class="titulares">Sección de Ofertas</h2>
        <section>
            <article>
                <img class="imagen-art" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="productos__descripcion">
                    <div class="carrito--verde">
                        <i class="fas fa-truck borde__carrito--verde" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="productos__descripcion">
                    <div class="carrito--verde">
                        <i class="fas fa-truck borde__carrito--verde" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" src="/images/img-samsung-galaxy-s10.jpg"
                    alt="imagen del Samsung Galaxy">
                <div class="productos__descripcion">
                    <div class="carrito--verde">
                        <i class="fas fa-truck borde__carrito--verde" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="productos__descripcion">
                    <div class="carrito--verde">
                        <i class="fas fa-truck borde__carrito--verde" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>
    </main>
    <!-- ------------------------------------------------------------------------------------------------------------ -->
    <footer>
        <section>
            <div class="iconos-footer">
                <i class="logos-footer far fa-credit-card" ></i>
            </div>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en untos
                de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <div class="iconos-footer">
                <i class="logos-footer fas fa-gift" ></i>
            </div>
            <h2>Envío gratis desde $ 2.500</h2>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                roductos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div class="iconos-footer">
                <i class="logos-footer fas fa-user-shield"></i>
            </div>
            <h2>Seguridad, de principio a fin</h2>
            <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre
                protegid@.</p>
        </section>
        <section class="para-Copyright">
            <p class="descripciones Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>
<!-- 
<h2>Elige tu lenguaje de programación favorito:</h2>

<form>
    <input type="radio" id="java" name="lenguaje" value="Java">
    <label for="java">Java</label><br>

    <input type="radio" id="python" name="lenguaje" value="Python">
    <label for="python">Python</label><br>

    <input type="radio" id="javascript" name="lenguaje" value="JavaScript">
    <label for="javascript">JavaScript</label><br>

    <input type="radio" id="csharp" name="lenguaje" value="C#">
    <label for="csharp">C#</label><br>

    <input type="submit" value="Enviar">
</form> -->